.sin-conexion-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  min-height: 50vh;

  ion-icon {
    margin-bottom: 1rem;
    font-size: 4rem;
  }

  h2 {
    margin: 1rem 0;
    color: var(--ion-color-medium);
  }

  p {
    color: var(--ion-color-medium-shade);
    margin-bottom: 2rem;
  }
}


